## Special Notebook for Demo 1
This notebook is to document the steps of preparing for our first demo. 

### Demo Aim
In our first demo, we aim to accomplish the following:
- Have a working, interactive shell that takes into input a user's live FPL team, and provides transfer and captaincy recommendations based on naive logic on *this season's data only*.

In [1]:
# imports
import pandas as pd

In [2]:
# Process data for demo use
path_to_current_season = '../data/raw/2024-25'
cleaned_players = pd.read_csv(f'{path_to_current_season}/cleaned_players.csv')
player_ids = pd.read_csv(f'{path_to_current_season}/player_idlist.csv')

# Pick out useful columns
players_table = cleaned_players[
    ['first_name', 'second_name', 'element_type', 'total_points', 'minutes', 'goals_scored', 'assists', 
     'clean_sheets', 'goals_conceded', 'yellow_cards', 'red_cards', 'bonus', 'influence', 'creativity', 
     'threat', 'now_cost', 'ict_index']
]

players_table_with_ids = pd.merge(players_table, player_ids, on=['first_name', 'second_name'])

In [3]:
players_table_with_ids

,first_name,second_name,element_type,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,yellow_cards,red_cards,bonus,influence,creativity,threat,now_cost,ict_index,id
0,Fábio,Ferreira Vieira,MID,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,54,0.0,1
1,Gabriel,Fernando de Jesus,FWD,3,78,0,0,0,2,2,0,0,14.0,32.3,33.0,68,7.9,2
2,Gabriel,dos Santos Magalhães,DEF,39,630,2,0,3,6,1,0,4,194.8,36.6,165.0,62,39.6,3
3,Kai,Havertz,FWD,40,630,4,1,3,6,0,0,7,209.2,83.8,326.0,83,61.9,4
4,Karl,Hein,GK,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,40,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,Toti António,Gomes,DEF,4,450,0,1,0,16,2,0,0,82.0,16.5,13.0,43,11.1,567
662,Bastien,Meupiyou,DEF,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,40,0.0,637
663,André,Trindade da Costa Neto,MID,6,316,0,0,0,10,2,0,0,43.4,39.9,12.0,50,9.5,642
664,Carlos Roberto,Forbs Borges,MID,2,109,0,0,0,5,2,0,0,16.4,18.3,21.0,55,5.5,655
665,Alfie,Pond,DEF,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,40,0.0,664

In [4]:
# add column 'value' to create recommendation ranking
players_table_with_ids['value'] = players_table_with_ids['total_points'] / (players_table_with_ids['now_cost'] * 0.1)

In [7]:
# these are the 'best' value players according to our naive logic
players_table_with_ids.sort_values(by='value', ascending=False).head(20)

,first_name,second_name,element_type,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,yellow_cards,red_cards,bonus,influence,creativity,threat,now_cost,ict_index,id,value
450,André,Onana,GK,39,630,0,0,4,8,0,0,3,191.8,0.0,0.0,50,19.2,383,7.800000
209,Robert,Sánchez,GK,36,630,0,0,2,8,1,0,5,246.4,0.0,0.0,47,24.5,185,7.659574
264,Dwight,McNeil,MID,41,622,3,2,1,15,1,0,6,208.8,359.7,109.0,56,67.8,230,7.321429
389,Ibrahima,Konaté,DEF,37,569,1,1,4,2,2,0,1,173.2,29.4,46.0,52,25.0,326,7.115385
167,Danny,Welbeck,FWD,41,596,4,1,2,10,1,0,9,186.4,111.9,250.0,58,54.8,148,7.068966
436,Diogo,Dalot Teixeira,DEF,35,630,0,1,4,8,1,0,6,135.6,102.1,13.0,51,24.9,369,6.862745
113,Bryan,Mbeumo,MID,51,629,6,0,0,13,2,0,9,270.6,229.3,206.0,75,70.7,99,6.800000
390,Luis,Díaz,MID,54,446,5,1,5,1,0,0,8,237.0,136.6,225.0,81,59.8,327,6.666667
201,Noni,Madueke,MID,43,476,4,1,2,6,0,0,6,174.0,90.6,256.0,65,52.1,177,6.615385
418,Mateo,Kovačić,MID,36,523,3,1,1,8,2,0,7,183.6,147.0,53.0,55,38.4,354,6.545455
354,James,Justin,DEF,29,630,2,1,1,12,1,0,2,188.6,40.3,51.0,45,28.0,295,6.444444
11,David,Raya Martin,GK,36,630,0,0,3,6,1,0,6,212.6,0.0,0.0,56,21.3,15,6.428571
374,Alisson,Ramses Becker,GK,35,528,0,0,4,2,0,0,5,126.8,0.0,0.0,55,12.6,310,6.363636
2,Gabriel,dos Santos Magalhães,DEF,39,630,2,0,3,6,1,0,4,194.8,36.6,165.0,62,39.6,3,6.290323
519,Chris,Wood,FWD,39,557,4,0,3,5,1,0,10,156.0,45.4,195.0,62,39.8,447,6.290323
206,Cole,Palmer,MID,67,595,6,5,2,8,3,0,9,366.4,298.1,204.0,108,86.9,182,6.203704
483,Nick,Pope,GK,31,630,0,0,2,7,0,0,2,223.8,0.0,0.0,50,22.4,413,6.200000
401,Virgil,van Dijk,DEF,36,630,0,0,5,2,1,0,3,146.6,29.1,39.0,60,21.4,339,6.000000
280,Emile,Smith Rowe,MID,34,469,2,1,3,4,0,0,5,125.6,102.6,92.0,58,32.1,19,5.862069
463,Harvey,Barnes,MID,38,384,3,1,1,5,0,0,8,149.2,88.7,142.0,65,38.1,392,5.846154

In [10]:
# add 'full_name' column
players_table_with_ids['full_name'] = players_table_with_ids['first_name'] + ' ' + players_table_with_ids['second_name']

In [11]:
# write to a new, processed csv file
players_table_with_ids.to_csv('../data/processed/2024-25/processed_players.csv', index=False)